h4{
    text-align:left;
    color:rgb(40, 41, 42);
    font-family: 'Monaco';
    font-weight: 400;
}
h3{
  text-align:left;
  color:rgb(40, 41, 42);
  font-family: 'Monaco';
  font-weight: 400;
}
h2{
  text-align:left;
  color:rgb(40, 41, 42);
  font-family: 'Monaco';
  font-weight: 400;
}
h1{
  text-align:center;
  color:rgb(40, 41, 42);
  font-family: 'Monaco';
  font-weight: 400;
}
iframe{
  align-self: center;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    font-variant:small-caps;
    font-family:'Monaco';
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1 solid #bbb;
  }
  li:last-child {
    border-right: none;
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14 16;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color:#fbbb4d;
  }
  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1 1 1;
    column-gap: 5;
   }
   
   img {
     max-width: 100;
     max-height:100;
   }
   
   .text {
     font-size: 70;
   }